@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);


html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }

body {
    background-color: black;
    }
* {
    margin:0;
    padding:0;
    }

/* HEADER
-----------------------------------*/

/* University of Rochester Bar */
.uofr-header{
    background-color: #021e47;
    width: 100%;
    height: 35px;
    padding: 5px;
    z-index: 1000;
    top: 0;
    }
.uofr-logo-container,
.everbetter-container {
    width: 50%;
    float: left;
    }
    .navbar-brand-uofr-logo {
        width: 210px;
        height: auto;
        }
    .navbar-brand-everbetter {
        width: 128px;
        height: auto;
        float: right;
        }
/**/

/* Living History Project Bar */
.lhp-logo {
    width: 240px;
    height: auto;
    }

.navbar {
    margin: 0;
    }
    .navbar.fixed{
        position: fixed;
        top: 0px;
        width: 100%;
        }
.navbar-default{
    border: none;
    background: rgba(0, 0, 0, 0.0);
    z-index: 1000;
    }
    .navbar-default.fixed{
        background: rgba(0, 0, 0, 0.8);
        }

/* Search Box */
.navbar-form{
  padding: 0 0 0 15px;
  }
.navbar-default .navbar-nav>li>a {
  color: rgba(255, 255, 255, 0.8);
  }
  .navbar-default .navbar-nav>li>a:hover {
    color: rgba(255, 255, 255, 1.0);
  }

.navbar-form .form-control {
      box-shadow: none;
      border: 0;
      background-color: #d6d6d6;
      color: black;
}
/**/

/* Collapsed button */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background: none;
}

.navbar-toggle{
  border: none;
}

/**/

/* Added space to prevent jump on scroll */
.spacer      {height: 0;   }
.spacer.show {height: 50px;}
/**/

/* COVER
-----------------------------------*/
.cover {
  width: 100%;
  margin-top: -50px;
  }
  .cover.jump {
      margin-top: 0px;
      }

.tagline {
  width: 600px;
  color: white;
  font-size: 20px;
  font-weight: 200;
  position: absolute;
  top: 120px;
}
/**/



/* Boxes
-----------------------------------*/
.box {
    width: 50%;
    float: left;
    border: 1px solid black;
    background-color: black;
}
.box-images {
    height: auto;
    width: 100%;
    opacity: 0.7;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    }
    .box-images:hover {
      opacity: 1;
      }
.box-text {
  position: relative;
}
.box-headline{
  font-family: 'Merriweather', serif;
  position: absolute;
  bottom: 50px;
  font-size: 31px;
  color: white;
  font-weight: 200;
}
.box-tagline{
  position: absolute;
  bottom: 35px;
  font-size: 15px;
  color: white;
  font-weight: 200;
  color: lightgray;
  font-style: italic;
}
.box-headline,
.box-tagline {
  margin-left: 30px;
}
.box-odd{border-left: none;}
.box-even{border-right: none;}

.scroll-hint {
    z-index: 4001;
    position: fixed;
    padding-bottom: 10px;
    padding-top: 60px;
    bottom: 0;
    /*height: 400px;*/
    left: 0;
    right: 0;
    text-align: center;
    /*Gradient BG*/
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.89) 72%, rgba(0,0,0,0.9) 73%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.89) 72%,rgba(0,0,0,0.9) 73%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.89) 72%,rgba(0,0,0,0.9) 73%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e6000000',GradientType=0 ); /* IE6-9 */

    /*Animation*/
    opacity: 1;
    transition: opacity .50s ease-in-out;
    -moz-transition: opacity .50s ease-in-out;
    -webkit-transition: opacity .50s ease-in-out;
    }
    .scroll-hint.test {
      opacity: 0;
      }
      .scroll-hint.gone {
        display: none;
      }

/*Test*/
.imgHolder{
    display:inline-block;
    background:#000;
}
.item-fade{
    vertical-align:top;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.hover:hover{
    opacity:0.2;
}
/**/

.scroll-hint i {
color: gray;
font-size: 25px;
}
.scroll-hint-text{
  color: lightgray;
  font-size: 18px;
  font-family: 'Merriweather', serif;
  text-transform: uppercase;

}

.tagline-hint{
  color: white;
  font-size: 22px;
  width: 80%;
  font-weight: 100;
  /* text-align: left; */
  margin: auto;
  font-family: 'Merriweather', serif;
  padding-bottom: 30px;
}
.sub-tag-hint{
  font-size: 22px;
  color: #9ca6b6;
  /*display: block;*/
  width: 80%;
  margin: auto;
}

.scroll-hint-text a {color: lightgray;}
.scroll-hint i a {color: red;}
.scroll-hint-text a:hover {
  text-decoration: none;
  color: white;
}

.mobile-tagline{display: none;}


/**/


/* FOOTER
--------------------------------*/

.footer{
      padding-top: 15px;
      background-color: #021e47;
      width: 100%;
      margin: 0;
      color: #919aaf;
}
.footer-left,
.footer-right{
  width: 50%;
  float: right;
  margin-top: 40px;
}

.footer-right{
  text-align: right;
}

.footer-uofr-logo {
    width: 270px;
    height: auto;
    display: block;
    margin-top: 20px;
    }
/**/

/* MEDIA QUERIES
--------------------------------*/

@media (max-width: 768px) {
    /* Removing the Ever Better graphic on mobile */
    .uofr-logo-container{width: 100%}
    .everbetter-container {display: none;}
    /**/
    /* Reverting padding on search box for mobile */
    .navbar-form{
        padding: 10px 20px;
        margin: 0;
        border-top: none;
        border-bottom: none;
        }
    /**/
    .navbar :focus {outline:none;}
    /**/
    /*.navbar-default {background: rgba(0, 0, 0, 1);}*/
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
        }
    /**/
    /* Tagline move below cover */
    .scroll-hint {
      display: none;
    }
    .mobile-tagline{
      font-family: 'Merriweather', serif;
      font-size: 16px;
      text-align: center;
      display: block;
      width: 80%;
      margin: auto;
      color: white;
      padding: 0 0 50px 0;
      }
    /**/
    /**/
    .box-tagline{font-weight: 300;}
    /**/
    .box-headline,
    .box-tagline {
      margin-left: 20px;
    }
    .box-tagline {
    }
    /**/
    .box { width: 100%;}
    /**/
    .footer-left,
    .footer-right{
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }
    /**/
    .footer-uofr-logo {
        padding-top: 20px;
        margin: auto;
        }
    /**/
    /**/
    .box-images {opacity: 1;}
    /**/
}
